html {
    scroll-behavior: smooth;
  }
  body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { 
    margin:0; 
    padding:0; 
  } 
  article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {
      display: block;
  }
  i{
    font-style: normal;
  }
  img { 
    border:0; 
    vertical-align:middle;
  }     
  h1, h2, h3, h4, h5, h6 { 
    font-weight:normal; 
    font-size:100%; 
  }    
  ul, ol {
    list-style:none; 
  } 
  table { 
    border-collapse:collapse; 
    border-spacing:0; 
  } 
  a,a:focus,a:hover {
    cursor: pointer;
    outline: none;
    text-decoration: none;
  }
  body {
    font-family: "Microsoft YaHei","微软雅黑","Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB",Arial,sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: subpixel-antialiased;
    color:#333;
  }   
  .clearfix:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .clearfix{
    zoom: 1;
  }
  // 
  .contain{
    width:1300px;
    margin:0 auto;
  }
  /* 公共头部 */
  .header{
    width: 100%;
    background-color: #26282A;
    font-family:MicrosoftYaHei;
    position: relative;
    height: 53px;
    .top{
      width: 1300px;
      margin: 0 auto;
      .logo{
        position: relative;
        display: inline-block;
        float: left;
        cursor: pointer;
        img{
          height: auto;
          width: 28px;
          margin-right: 13px;
          margin-top: 10px;
        }
        .logo-top{
          font-family: FZLTZHK--GBK1-0;
          font-weight: 600;
          color:#fff;
          width: auto;
          display: inline-block;
          font-size: 16px;
          line-height: 16px;
          padding-top: 11px;
        }
        .logo-bottom{
          position: absolute;
          right: -4px;
          font-size: 11px;
          font-family: ArialMT;
          font-weight: 400;
          color:#a7a7a7;
          line-height: 11px;
          top: 31px;
          letter-spacing: 2px;
        }
      }
      .nav-list{
        box-sizing: border-box;
        float: left;
        margin-left: 107px;
        li{
          float: left;
          padding-right: 80px;
          a{
            cursor: pointer;
            font-size: 14px;
            color: #fff;
            font-weight: 400;
            display: inline-block;
            line-height: 50px;
            border-bottom: 3px solid #26282A;
          }
        }
        .nav-active{
          a{
            color: #2B7AFE; 
            font-weight: bold;
            border-bottom: 3px solid #2B7AFE;
          }
        }
      }
    }
    .top-left{
      position: absolute;
      top: 0;
      right:0;
      font-size:14px;
      font-weight:400;
      color:#fff;
      line-height: 53px;
      .search{
        margin-right: 59px;
        padding: 2px;
        .search-txt{
          width: 0px;
          background: transparent;
          border: none;
          outline: none;
          color: #fff;
          font-size:14px;
          height: 15px;
          line-height: 15px;
          transition: all .2s linear;
        }
        .search-btn{
          display: inline-block;
          width: 15px;
          height: 15px;
          background: url(../assets/images/sear.png) no-repeat center center;
          background-size: 100% 100%;
          position: relative;
          top: 2px;
        }
        .search-txt-active{
          width: 100px;
        }
      }
      .search-active{
        border: 1px solid #fff;
      }
      .login{
        margin-right: 53px;
      }
      .register{
        margin-right: 53px;
      }
    }
  }
  /* 公共头部XS */
  .header-xs{
    height: 36px;
    .top{
      width:100%;
      .logo{
        img{
          width: 23px;
          margin-left: 8px;
          margin-top: 5px;
        }
        .logo-top{
          font-size: 14px;
          line-height: 14px;
          padding-top: 6px;
        }
        .logo-bottom{
          top: 22px;
          letter-spacing: 1px;
        }
      }
      .nav-btn{ 
        font-size:20px;
        line-height: 36px;
        position: absolute;
        right: 8px;
        top:0;
        color:#fff;
        z-index: 1002;
      }
      .nav-list{
        height: auto;
        background-color: #26282A;
        position: absolute;
        right: 0;
        top: 36px;
        z-index: 1000;
        transition: all 0.2s linear;
        opacity: 1;
        width: 150px;
        li{
          text-align: center;
          width: 100%;
          padding-right: 0;
          a{
            line-height: 20px;
          }
        }
        .nav-active{
          a{
            border-bottom: none;
          }
        }
      }
      .nav-list-active{
        top: -100px;
        opacity: 0;
      }
    }
  }
  // 咨询建议
  .suggest{
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
    background: linear-gradient(180deg,rgba(163,163,163,1),rgba(82,82,82,1));
    box-shadow: 0px 3px 10px 0px rgba(84,84,84,0.42);
    border-radius: 4px;
    padding: 16px 12px 17px 12px;
    z-index: 1000;
    .img{
      width: 29px;
      height: auto;
      margin-bottom: 16px;
    }
    .txt{
      text-align: center;
      font-size: 16px;
      font-family: MicrosoftYaHei;
      font-weight: 400;
      color:#fff;
      &:nth-of-type(3){
        margin-top: 10px;
      }
    }
  }
  /* 公共底部*/
  .footer{
    /* 标题公共样式 */
    %h3{
      font-size:18px;
      line-height: 18px;
      font-weight:400;
      color:#fff;
    }
    width: 100%;
    background: #272C37;
    .contain{
      margin: 0 auto;
      box-sizing: border-box;
      font-family:MicrosoftYaHei;
      width: 1300px;
      padding: 46px 0 62px 0;
      .contact-box{
        float: left;
        h3{
          @extend %h3;
        }
        .contact-list{
          margin-top: 15.5px;
          .contact-item{
            font-size: 14px;
            line-height: 23px;
            color:#999;
            margin-bottom: 11px;
            img{
              width: 23px;
              height: auto;
              margin-right: 10px;
            }
            &:last-child{
              margin-bottom: 0;
            }
          }
        }
      }
      .service-box{
        float: left;
        margin-left: 290px;
        h3{
          @extend %h3;
        }
        .service-list{
          margin-top: 20px;
          .service-item{
            font-size: 14px;
            line-height: 14px;
            color:#999;
            margin-bottom: 14px;
            &:last-child{
              margin-bottom: 0;
            }
          }
        }
      }
      .qrcode-box{
        float: left;
        margin-left: 290px;
        h3{
          @extend %h3;
        }
        img{
          width: 110px;
          height: auto;
          margin-top: 20px;
        }
        p{
          font-size:14px;
          line-height: 14px;
          font-weight:400;
          color:#fff;
          margin-top: 11px;
        }
      }
    }
  }
  /* 公共底部XS */
  .footer-xs{
    .contain{
      width: 100%;
      padding: 40px 0;
      text-align: center;
      .contact-box{
        width: 100%;
        margin-bottom: 20px;
      }
      .service-box{
        width: 100%;
        margin-bottom: 20px;
        float: left;
        margin-left: 0;
      }
      .qrcode-box{
        width: 100%;
        margin-left: 0;
      }
    }
  }
  
  